html {
    background-image: url(../img/fond.png);
}

body {
    background-color: white;
    max-width: 750px;
    margin: auto;
}

header {
    width: 750px;
    display: inline-block;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f5e49f;
}

header img {
    padding-left: 10px;
    margin: 10px;
}

main {
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    float: right;
    margin-top: 2.5em;
    margin-left: 5em;
    margin-right: 2em;
    margin-bottom: 2em;
}

nav a {
    padding: 2px;
    font-size: 22px;
    color: #ffa43d;
    text-decoration: none;
}

nav, h2 {
    font-family: 'Oswald';
    color: #ffa43d;
}

article img {
    float: left;
    padding-right: 10px;
}

/*
main article p:nth-child(2) {
    float: left;
    justify-content: flex-start;
}
*/

.deuxTxt {
    float: left;
    justify-content: flex-start;
}

.lireP {
    float: right;
    justify-content: flex-end;
    background-color: #ffa43d;
    color: #fff;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-family: 'Oswald'
}

article {
    float: left;
}

footer {
    width: 750px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}







