* {
    box-sizing: border-box;
}


html {
    background-color: rgb(32, 149, 153);
}



/* FULL SIZE TABLETTE */

@media screen and (max-width:960px) {
    body {
        margin: auto;
        width: 100%;
    }

    header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-self: center;
    
    }
    aside {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .container section {
        display: flex;
        flex-direction: column;
       margin-top: 1%;        
        background-color: rgb(37, 117, 122);
        color: white;
        width: 100%;
    }

    .container aside {
        display: flex;
        flex-direction: column;
        padding: 1%;
        width: 100%;
        background-color: azure;
    }


}/* FIN */



/* FULL SIZE MOBILE ¨*/

@media screen and (max-width:560px) {
    body {
        margin: auto;
        width: 100%;
    }
    header nav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(78, 45, 1);
    
    }

    .container {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .container section {
        display: flex;
        flex-direction: column;
        margin-top: 1%;
        background-color: rgb(37, 117, 122);
        color: white;
        width: 100%;
    }

    .container aside {
display: none;
    }



}/* FIN */






/* FULL SIZE DESKTOP¨*/
@media screen and (min-width:960px) {
    body {
        margin: auto;
        width: 80%;
    }

    header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-self: center;
       
    }

    .container {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
    }


    .container section {
        display: flex;
        flex-direction: column;
        margin: 1%;
        padding: 2%;
        background-color: rgb(37, 117, 122);
        color: white;
        width: 78%;
    }
    
    .container aside {
        display: flex;
        flex-direction: column;
    
        width: 20%;
        padding: 1%;
        background-color: azure;
    }
}/* FIN */



header img {
    padding: 2%;
}
nav{
    background-color: rgb(78, 45, 1);
    width: 100%;
    height: auto;
}

nav a {
    
    font-size: 1.6em;
    padding: 2%;
    color: white;
    text-decoration: none;
    height: 100%;

}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

h1,
h2,
h3 {
    font-family: 'Open Sans';
    font-size: 1.4em;
}

img {
    border-radius: 10px;
}

h2 {
    background-color: rgb(78, 45, 1);
    width: 100%;
    color: white;
    padding: 2%;
    border-radius: 10px;
    text-align: center;
}